/* .con {
  width: 200px;
  height: 200px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;

  margin-left: 80px;
  cursor: pointer;
  border: none;
  outline: none;
}

.con:hover {
  border: 1px solid red;
  transform: scale(1.06);
}

.box {
  margin-top: 100px;
}

.plus {
  margin-top: 80px;
}

.res {
  display: flex;
  justify-content: space-between;
}

.box{
margin-top: 100px;

}

.plus{
  margin-top: 80px;
  
}

.res{
  display: flex;
  justify-content: space-between;
} */

/* addres.css */

.res {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.box {
  width: 140px;
  height: 140px;
  background-color: #f9f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.con {
  cursor: pointer;
}

.plus {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
