.edit{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 30px;
}
.forms{
  display: flex;
  align-items: center;
  
  width: 50%;
  flex-direction: column;
  /* justify-content: center; */
  border-right: 1px solid #48CF72;
}
.prev{
  display: flex;
  align-items: center;
 
  width: 50%;
  flex-direction: column;
  /* justify-content: center; */
  border-left: 1px solid #48CF72;
}